<mat-card class="w-full max-w-[26rem] shadow-lg">
  <div class="relative">
    <img mat-card-image src="{{ menu?.img }}" alt="{{ menu?.name }}" class="w-full h-60 object-cover" />
    <div class="absolute inset-0 bg-gradient-to-tr from-transparent via-transparent to-black/60"></div>
  </div>
  <mat-card-content class="flex justify-center text-center pt-4">
    <h2 class="text-gray-800 mb-2">
      {{ menu?.name }}
      
    </h2>
    
    <div *ngIf="foodItemsVisible">
      <div *ngFor="let item of menu?.foodItemWithQuantities; let i = index">
        <p class="text-gray-800 dark:text-gray-300">
          {{ foodItemsDetails[item.foodItemId].name }} - Cantitate: {{ item.quantity }}g
          
        </p>
      </div>
      <p class="text-gray-800 dark:text-gray-300">
      Sarcina Glicemica: {{menu?.sg}}
      </p>
    </div>
  </mat-card-content>
  
  <mat-card-actions class="flex justify-center mb-2">
    <button mat-button class="bg-gray-700 hover:bg-gray-900 text-white py-2 px-4 rounded" (click)="toggleFoodItemsVisibility()">
      Listă de ingrediente
    </button>
  </mat-card-actions>
</mat-card>
