<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="../../../assets/background2.jpg" alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center blur-sm">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>
  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="max-w-4xl lg:mx-0 lg:pl-15">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-8xl" style="font-size: 4rem">Meniul tău </h2>
      <h3 class="text-4xl font-bold tracking-tight text-white sm:text-4xl" style="font-size: 2rem">creat de tine, ajustat de noi!</h3>

    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">

    </div>
  </div>

</div>

<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div
    class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20">
  </div>
  <div
    class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center">
  </div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <img class="mx-auto h-20" src="../../../assets/logo.png" alt="">
    <figure class="mt-10">
      <blockquote class="text-center text-xl leading-8 text-gray-900 sm:text-3xl sm:leading-9">
        <p>
          Mai jos aveți oportunitatea de a vă crea propriul meniu, personalizat după gusturile și nevoile dumneavoastră
          unice.
        </p>
      </blockquote>

      <div>

      </div>


      <div class="flex justify-center pt-4">
        <button type="button" (click)="onSaveMenu()"
           class="text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
          Salvează meniul
         </button>
      </div>
      <div class="flex flex-col items-center mb-4 pt-4">
        <label for="menuName" class="block text-sm font-medium text-gray-700">Introduceți numele meniului dumneavoastră personalizat</label>
        <input type="text" [(ngModel)]="menuName" placeholder="Numele meniului" class="text-input-class text-center focus:outline-none focus:border-black focus:ring-0" />
      </div>

    </figure>
  </div>


  <div class="flex justify-center space-x-10 my-8">
    <img src="../../../assets/fruit.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('fruits')" >
    <img src="../../../assets/vegetable.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('vegetables')">
    <img src="../../../assets/meat.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('meat')">
    <img src="../../../assets/white-bread.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('bread')">
    <img src="../../../assets/dairy.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('dairy')">
    <img src="../../../assets/sweets.png" alt="Icon Placeholder" class="h-12 cursor-pointer transition-transform duration-200 hover:scale-110" (click)="filterFoodItemsByCategory('sweets')">
  </div>


  <div class="flex gap-8 px-8 my-8">

    <div class="flex-1 bg-white shadow-lg rounded-lg p-6">

      <div *ngFor="let foodItem of foodItems" class="p-2 border-b border-gray-200 cursor-pointer"
        (click)="onSelectedFoodItem(foodItem)">
        <h3 class="text-lg text-gray-700">{{ foodItem.name }}</h3>
      </div>

    </div>
    <div class="flex-1 bg-white shadow-lg rounded-lg p-6">
      <div *ngFor="let item of selectedFoodItemsWithQuantities; let i = index" class="p-2 border-b border-gray-200">
        
        <div class="flex flex-col sm:flex-row justify-between items-center">
          <div class="mb-2 sm:mb-0 sm:flex-grow">
            <h3 class="text-xl text-gray-900">{{ item.foodItem.name }}</h3>
          </div>

          <div class="flex items-center space-x-4">
            <div class="flex items-center space-x-2">
              <label for="quantity-{{i}}" class="text-sm">Cantitate:</label>
              <input type="number" id="quantity-{{i}}" [(ngModel)]="item.quantity" class="border-gray-300 rounded shadow-sm text-sm" min="0" style="width: 70px;">
            </div>
            <button type="button" class="text-red-500 text-sm" (click)="onDeselectFoodItem(i)">Șterge</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</section>
<div *ngIf="recommendationLoaded">
  <h2>Recommendations</h2>
  
  <div *ngFor="let category of getRecommendationKeys()">
    <h3>{{ category }}</h3>
    <ul>
      
      <li *ngFor="let recommendation of recommendations[category]">
        {{ recommendation.name }} - IG: {{ recommendation.ig }}
      </li>
    </ul>
  </div>
</div>
<p-toast></p-toast>
