<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="../../../assets/logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Update the form to use Angular's form functionality -->
    <form (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Email" required>
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="login" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

  </div>
</div>
