.navbar {
    width: 100%;
  }

  .navbar-brand {
    margin-right: auto; 
  }
  

  .nav-item {
    text-align: center; 
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  

  @media (max-width: 991px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .nav-item {
      width: 100%; 
    }
  
    .navbar-toggler {
      align-self: flex-start;
    }
  }
  