<div class="flex justify-center pt-5">
    <p-table [value]="displayedFoodItems" [paginator]="true" [rows]="3">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nume</th>
          <th>Calorii</th>
          <th>Carbs</th>
          <th>Proteine</th>
          <th>Grasimi</th>
          <th>Fibre</th>
          <th>Vitamine</th>
          <th>ID Meniu</th>
          <th>Categorie</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-foodItem>
        <tr>
          <td>{{ foodItem.id }}</td>
          <td>{{ foodItem.name }}</td>
          <td>{{ foodItem.calories }}</td>
          <td>{{ foodItem.nutrient.carbs }}</td>
          <td>{{ foodItem.nutrient.proteins }}</td>
          <td>{{ foodItem.nutrient.fats }}</td>
          <td>{{ foodItem.nutrient.fibers }}</td>
          <td>{{ foodItem.nutrient.vitamins }}</td>
          <td>{{ foodItem.menuIds.join(', ') }}</td>
          <td>{{ foodItem.category}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  
  <div class="flex justify-center pt-4 pb-2">

  <button type="button"  (click)="showFoodItemForm = !showFoodItemForm" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Adaugă un aliment</button>

  </div>

  <div *ngIf="showFoodItemForm" class="flex justify-center">
    <form [formGroup]="foodItemForm" (ngSubmit)="onSubmit()" class="form-class flex-col flex pt-4">
      <input type="text" formControlName="name" placeholder="Nume" class="input-class">
      <select formControlName="category" class="input-class">
        <option value="" disabled selected>Selectează o categorie</option>
        <option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</option>
      </select>
      <input type="number" formControlName="calories" placeholder="Calorii" class="input-class">
      <input type="number" formControlName="carbs" placeholder="Carbohidrați" class="input-class">
      <input type="number" formControlName="proteins" placeholder="Proteine" class="input-class">
      <input type="number" formControlName="fats" placeholder="Grăsimi" class="input-class">
      <input type="number" formControlName="fibers" placeholder="Fibre" class="input-class">
      <input type="number" formControlName="vitamins" placeholder="Vitamine" class="input-class">
      <input type="number" formControlName="IG" placeholder="Indice Glicemic" class="input-class">
      <br>
      <button type="submit"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 ">
         Salvează alimentul
        </button>
    </form>
  </div>

    <div class="flex justify-center pt-5">
        <p-table [value]="displayedMenus" [paginator]="true" [rows]="3">
          <ng-template pTemplate="header">
            <tr>
              <th>Nume</th>
              <th>Alimente si Cantitate</th>
              <th>Sarcina Glicemica</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-menu>
            <tr>
              <td>{{ menu.name }}</td>
              <td>{{ getDisplayFoodItems(menu.foodItemWithQuantities) }}</td>
              <td>{{ menu.sg }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="flex justify-center pt-2">

        <button type="button" (click)="toggleMenuForm()" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Adaugă un meniu</button>
      
        </div>

        <div *ngIf="showMenuForm" class="flex justify-center">
          <form [formGroup]="menuForm" (ngSubmit)="onSubmitMenu()" class="form-class flex-col flex pt-4">
            <input type="text" formControlName="name" placeholder="Nume Meniu" class="input-class">
        
            <div formArrayName="foodItems">
              <div *ngFor="let foodItem of foodItemsFormArray.controls; let i=index" [formGroupName]="i" class="flex gap-2">
                <input type="text" formControlName="foodItemId" placeholder="ID Aliment" class="input-class">
                <input type="number" formControlName="quantity" placeholder="Cantitate" class="input-class">
                <button class="text-red-600"type="button" (click)="removeFoodItemFromMenu(i)">Șterge</button>
              </div>
            </div>
          <div class="flex justify-center pt-4 pb-2">
            <button class=" text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button" (click)="addFoodItemToMenu() ">Adaugă Aliment</button>
          </div>
            <input type="text" formControlName="imageUrl" placeholder="URL Imagine" class="input-class">
            <input type="number" formControlName="sg" placeholder="Sarcina Glicemica" class="input-class">
            <div class="flex justify-center pt-4 pb-2 ">
            <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" >
              Salvează Meniu
            </button>
          </div>
          </form>
        </div>
        
        
       

      
     
