<div class="pt-5 pb-5 flex justify-center shadow-lg">
  <div class="flex min-h-screen bg-blue-100">
  
    <div class="w-1/2 bg-gray-500 flex flex-col justify-center items-center p-8 bg-cover bg-center" style="background-image: url('../../../assets/background-gri.jpeg');">
      <img src="../../../assets/logo.png" alt="" class="w-24 h-24">
      
      <p class="text-white text-base text-center">
        Pentru a vă înregistra, vă rugăm să introduceți datele necesare în formularul din partea dreaptă. <br><br>
        După completarea datelor, puteți apăsa butonul Înregistrare pentru a continua.
      </p>
    </div>
  
    <div class="w-1/2 flex flex-col justify-between">
      <form class="w-full h-full bg-white p-5 shadow-lg" (ngSubmit)="signup()">
        <div class="mb-6">
          <label for="exampleFirstName" class="block mb-2 text-sm font-medium text-gray-700">Prenume</label>
          <input type="text" id="exampleFirstName" placeholder="Introduceți prenumele"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                 [(ngModel)]="first_name" name="first_name">
        </div>
  
        <div class="mb-6">
          <label for="exampleLastName" class="block mb-2 text-sm font-medium text-gray-700">Nume</label>
          <input type="text" id="exampleLastName" placeholder="Introduceți numele"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                 [(ngModel)]="last_name" name="last_name">
        </div>
  
        <div class="mb-6">
          <label for="exampleInputEmail1" class="block mb-2 text-sm font-medium text-gray-700">Adresa email</label>
          <input type="email" id="exampleInputEmail1" placeholder="Introduceți adresa de email"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                 [(ngModel)]="email" name="email">
        </div>
  
        <div class="mb-6">
          <label for="exampleInputPassword1" class="block mb-2 text-sm font-medium text-gray-700">Parola</label>
          <input type="password" id="exampleInputPassword1" placeholder="Introduceți parola"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                 [(ngModel)]="password" name="password">
        </div>
  
        <div class="mb-6">
          <label for="exampleAge" class="block mb-2 text-sm font-medium text-gray-700">Vârstă</label>
          <input type="number" id="exampleAge" placeholder="Introduceți vârsta"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                 [(ngModel)]="age" name="age">
        </div>
  
        <div class="mb-6">
          <label for="diabetSelect" class="block mb-2 text-sm font-medium text-gray-700">Tipul de diabet</label>
          <select id="diabetSelect" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                  [(ngModel)]="diabet" name="diabet">
            <option value="Gestational" selected>Gestational</option>
            <option value="1">Tipul 1</option>
            <option value="2">Tipul 2</option>
          </select>
        </div>
  
        <div class="flex flex-col gap-3">
          <button type="submit" class="bg-black text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Înregistrare</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <p-toast></p-toast>
  